<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">

    <Properties>
        <Property name="LOG_DIR">./logs</Property>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
        <Property name="METRICS_PATTERN">%d{yyyy-MM-dd HH:mm:ss.SSS} %msg%n</Property>
    </Properties>

    <Appenders>
        <!-- Console Appender -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <!-- Application Log - All application messages -->
        <RollingFile name="ApplicationLog"
                     fileName="${LOG_DIR}/application.log"
                     filePattern="${LOG_DIR}/application-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="100MB"/>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

        <!-- Error Log - Only errors and above -->
        <RollingFile name="ErrorLog"
                     fileName="${LOG_DIR}/error.log"
                     filePattern="${LOG_DIR}/error-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="50MB"/>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>

        <!-- Metrics Log - Processing statistics -->
        <RollingFile name="MetricsLog"
                     fileName="${LOG_DIR}/metrics.log"
                     filePattern="${LOG_DIR}/metrics-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="${METRICS_PATTERN}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="50MB"/>
                <TimeBasedTriggeringPolicy interval="1"/>
            </Policies>
            <DefaultRolloverStrategy max="14"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Metrics Logger -->
        <Logger name="metrics" level="INFO" additivity="false">
            <AppenderRef ref="MetricsLog"/>
        </Logger>

        <!-- IBM MQ specific logging -->
        <Logger name="com.ibm.mq" level="WARN" additivity="false">
            <AppenderRef ref="ApplicationLog"/>
            <AppenderRef ref="ErrorLog"/>
        </Logger>

        <!-- Application package logging -->
        <Logger name="com.payment.replay" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ApplicationLog"/>
            <AppenderRef ref="ErrorLog"/>
        </Logger>

        <!-- Root Logger -->
        <Root level="WARN">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ApplicationLog"/>
            <AppenderRef ref="ErrorLog"/>
        </Root>
    </Loggers>

</Configuration>
